.tab-no-hover:hover,
.tab-no-hover:focus,
.tab-no-hover a:hover,
.tab-no-hover a.active {
    background: none !important;
    cursor: default;
}

.explotar {
    /*width:200vw;*/
    animation-name:letter_explotar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.implotar {
    /*width:200vw;*/
    animation-name:letter_implotar;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes letter_implotar {
    0% {letter-spacing:0px; opacity:1;}
    100% {letter-spacing:-8px;opacity:0;}
}

@keyframes letter_explotar {
    0% {letter-spacing:-8px; opacity:0;}
    100% {letter-spacing:0px; opacity:1;}
}

.font-size-1rem {
    font-size: 1rem;
}

.text-2-html{
    font-size: 1rem;
    font-family: 'Barlow';
    white-space: pre-line;
}