.numero_folio {
    width: 43px;
}

#equipo_auditoria, #equipo_auditoria p {
    font-size: 1rem;
}

#equipo_auditoria p {
    margin: 0px 5px;
}

span.editable {
    background-color: yellow;
    border-bottom: dashed 1px #0088cc
}

span.resaltar {
    background-color: palegreen;
}

#mision {
    font-size: .65em;
    line-height: 13px;
    text-align: justify;
    margin-top: -25px;
}

#ccp {
    font-size: 10px;
}

#ccp span {
    white-space: pre-line;
}

div#oficio-hoja {
    font-size: 14pt;
    padding-right: 1.5cm;
    padding-left: 1.5cm;
    border: 1px solid gray;
    margin-bottom: 1em;
    padding-top: 1cm;
}

.texto-sangria {
    text-indent: 1cm;
}

.texto-resaltar {
    font-weight: bold;
    font-size: 16pt;
}

.texto-ccp {
    font-size: 10pt;
    line-height: 50%;
}

table { font-size: 10pt; }

@media screen{
    .xeditable {
        background: yellow;
    }

    .sin-estilo {
        border: none;
        background: yellow;
    }
}
