b {
    font-weight: bolder;
}

#oficio-hoja.acta .bg-punteado {
    background-image: url(../../../SAC/resources/images/guion-admnistracion-2018-2021.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}

#numero_folio {
    width: 43px;
}

div#oficio-hoja {
    padding-right: 1.5cm;
    padding-left: 1.5cm;
    border: 1px solid gray;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1cm;
    font-family: 'BarlowLight';
}

div#oficio-hoja,
div#oficio-hoja p,
div#oficio-hoja table tr th,
div#oficio-hoja table tr td,
div#oficio-hoja span:not(.editable),
div#oficio-hoja input {
    font-size: 12pt;
}

div#oficio-hoja.acta p {
    margin-bottom: 0px;
}

div#oficio-hoja > table table#resultados_auditoria th,
div#oficio-hoja > table table#resultados_auditoria td {
    vertical-align: middle;
}

#oficio-hoja:not(.acta) .texto-sangria {
    text-indent: 1cm;
}

.texto-resaltar {
    font-family: 'BarlowSemiBold';
    font-size: 16pt;
}

#firma-titular-contraloria {
    line-height: 20px;
    margin-bottom: 10px;
}

.texto-mision {
    font-size: 10pt;
    margin-bottom: 2em;
    text-align: justify;
}

.texto-ccp, .texto-ccp span {
    font-size: 8pt !important;
    line-height: 15px;
    white-space: pre-line;
}

table { font-size: 10pt; }
table.mismo-tamano-fuente-p tr td,
table.mismo-tamano-fuente-p tr th {
    font-size: 12pt;
}

@media screen{
    div#oficio-hoja:not(.autorizado) .xeditable {
        background: yellow;
    }

    div#oficio-hoja:not(.autorizado) .sin-estilo {
        border: none;
        background: yellow;
    }

    div#oficio-hoja.autorizado .sin-estilo,
    #frmOficios.autorizado .alert,
    #frmOficios.impresion .alert{
        background: none;
        border: none;
    }
    div#oficio-hoja.autorizado .watermark,
    div#oficio-hoja.acta .watermark {
        display: none;
    }


    #frmOficios:not(.autorizado) span.editable {
        background-color: yellow;
        border-bottom: dashed 1px #0088cc
    }

    #frmOficios:not(.autorizado) span.resaltar {
        background-color: palegreen;
    }

    body div.card {
        box-shadow: none;
    }

    div#oficio-hoja:not(.autorizado) div.span.editable {
        background: yellow;
        font-size: 14pt;
    }

    /** ARA Con observaciones **/
    div#oficio-hoja > table table#resultados_auditoria {
        font-size: 14pt;
    }

}

#frmOficios.autorizado a.xeditable,
#frmOficios.autorizado a.xeditable:active,
#frmOficios.autorizado a.xeditable:hover {
    background: none;
    cursor: text;
    text-decoration: none;
    color:rgba(0,0,0,.7);
}

div#oficio-hoja.autorizado a:hover,
div#oficio-hoja.autorizado a:active,
div#oficio-hoja.autorizado a:focus {
    cursor: text;
}

div#oficio-hoja.autorizado .editable-click,
div#oficio-hoja.autorizado a.editable-click,
div#oficio-hoja.autorizado a.editable-click:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
    border-bottom: none;
}

.table-fixed tbody {
    max-height: 350px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}
.table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
    float: left;
}
.table .thead-inverse tr, .table .thead-inverse tr th  {
    background: black;
}
input.autoresize {
    min-width: 12px;
}

.salto-de-pagina {
    page-break-before: always;
}

.watermark {
    position: fixed;
    opacity: 0.2;
    /* Safari */
    -webkit-transform: rotate(-13deg);
    /* Firefox */
    -moz-transform: rotate(-13deg);
    /* IE */
    -ms-transform: rotate(-13deg);
    /* Opera */
    -o-transform: rotate(-13deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    font-size: 2em !important;
    margin-top: 35px;
    margin-left: 10px;
    white-space: nowrap;
}

.twitter-typeahead input[type=text].autocomplete {
    padding-bottom: 0px;
    padding-top: 0px;
}

/* Permite hacer que el menú del autocomplete tenga un tamaño máximo y la barra de desplazamiento*/
.twitter-typeahead .tt-menu {
    max-height: 200px;
    overflow-y: auto;
}

/*********** Orden de Auditoría **************/

#equipo_auditoria p {
    margin: 0px 5px;
}

span.autocomplete_empleados_delete,
#oficio-hoja .opciones /* ACEI */ {
    cursor: pointer;
}

/********************* ACTAS *******************/
#oficio-hoja.acta p.firmas_firmas {
    background-color: lightgray !important;
    margin-bottom: 1.5em !important;
}
#oficio-hoja.acta div.firmas {
    text-align: center;
}

#oficio-hoja.acta div.firmas p.firmas_ua_nombre {
    font-weight: bold;
    text-transform: uppercase;
}

#oficio-hoja.acta div.firmas div.firmas_empleado {
    border-top: 1px solid rgba(0,0,0,.7);
    display: block;
    margin: 5em auto 1em auto;
    width: 280px;
}

#oficio-hoja.acta div.firmas div.firmas_testigos div.firmas_empleado {
    display: inline-grid;
    margin: 5em 2em 1em 2em;
}

#oficio-hoja.acta table tfoot div {
    border:1px solid #ccc;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}

#oficio-hoja.acta div#checkbox_asistencia {
    margin-top: .5rem;
    padding-bottom: 4px;
    font-size: 1.5em;
    border-radius: 20px;
}

#oficio-hoja.acta div#checkbox_asistencia input[type=checkbox] {
    transform: scale(2);
    margin-right: 10px;
}

#oficio-hoja.acta.autorizado button,
#oficio-hoja.acta.autorizado .btn,
#oficio-hoja.acta.autorizado .autocomplete_empleados_delete,
#oficio-hoja.acta.autorizado div#checkbox_asistencia {
    display: none;
}

table.table.table-borderless td,
table.table.table-borderless th {
    border: none;
}

#oficio-hoja .sin-especificar {
    color:white;
    background-color: red;
}
